body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
}


.c-app__header {
  height: 60px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-app__main {
  height: calc(100vh - 60px);
  display: flex;
}
.c-app__mainCell {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}
.c-app__content {
  flex-grow: 1;
}
.c-app__leftSidebar {
  width: 400px;
}
.c-app__rightSidebar {
  width: 500px;
  overflow-y: auto;
}


.c-searchBar {
  width: 100%;
  max-width: 580px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 30px;
  position: relative;
}
.c-searchBar__form {
  height: 100%;
  display: flex;
}
.c-searchBar__searchInput {
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 5px;
  border: none;
  background-color: transparent;
}
.c-searchBar__results {
  background-color: white;
  position: absolute;
  top: 45px;
  left: 3px;
  right: 3px;
  height: 500px;
  max-height: 70vh;
  overflow-y: auto;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0 4px 3px 3px rgba(0, 0, 0, 0.3);
  display: none;
}


.c-button {
  background-color: #ccc;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
}
.c-button--parentHeight {
  height: 100%;
}


.c-resultList {
  padding: 0;
}


.c-resultItem {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.c-resultItem__main {
  display: flex;
}
.c-resultItem__cell {
  display:
}
.c-resultItem__cell--description {
  flex-grow: 1;
  padding: 0 10px;
}
.c-resultItem__cell--buttonWrap {
  padding-top: 3px;
}
.c-resultItem__title {
  margin: 0;
}
.c-resultItem__thumbnail {
  width: 150px;
}

.c-notFound {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.c-notFound h2 {
	margin: 0;
	font-size: 150px;
font-family: 'Montserrat Subrayada', sans-serif;
}

.c-pageSaver {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 1s infinite; /* Chrome and Safari */
}
.c-pageSaver__info {
	text-align: center;
}
.c-pageSaver h1 {
	font-size: 50px;
}
.c-pageSaver__infoButton {
	color: white;
	padding: 10px 30px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid white;
}
@keyframes colorchange
	{
		0%   {background: #069de2;}
		50% {background: #7dc8ff;}
		100%   {background: #069de2;}
	}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
	{
		0%   {background: red;}
		25%  {background: yellow;}
		50%  {background: blue;}
		75%  {background: green;}
		100% {background: red;}
	}
